* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Marvel', 'Segoe UI', sans-serif;
	line-height: 1.6;
	background-color: #D2B48C;
	color: #FFFFFF;
	padding: 0 10px;
}

header {
	text-align: center;
	background-color: #003366;
	color: white;
	padding: 20px 0;
}

header h1 {
	font-size: 2rem;
}

header p {
	font-size: 1rem;
}

main {
	padding: 20px 0;
}

#benefits {
	margin-bottom: 30px;
	text-align: center;
}

#benefits h2 {
	font-size: 1.5rem;
	margin-bottom: 15px;
	color: #003366;
}

#benefits ul {
	list-style-type: none;
}

#benefits li {
	margin: 10px 0;
	font-size: 1rem;
	color: #2F4F4F;
}

#signup {
	max-width: 600px;
	margin: 0 auto;
	background-color: #2F4F4F;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#signup h2 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.4rem;
	color: #FFFFFF;
}

form label {
	display: block;
	margin: 10px 0 5px;
	font-size: 1rem;
	color: #FFFFFF;
}

form input,
form select,
form button {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 0.9rem;
}

form input {
	width: auto;
	display: inline-block;
	max-width: 150px;
}

form button {
	background-color: #003366;
	color: white;
	border: none;
	cursor: pointer;
}

form button:hover {
	background-color: #5c6b7d;
}

@media (min-width: 768px) {
	header h1 {
		font-size: 2.5rem;
	}

	header p {
		font-size: 1.2rem;
	}

	#benefits h2 {
		font-size: 1.8rem;
	}

	#signup h2 {
		font-size: 1.8rem;
	}

	#signup {
		padding: 20px;
	}

	form label {
		font-size: 1.1rem;
	}

	form input,
	form select {
		width: 90%;
		dispay: block;
		margin: 0 auto 20-x;
	}
	
	form button {
		width: 90%;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	body {
		padding: 0 20px;
	}

	main {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		max-width: 1000px;
		margin: auto;
	}

	#benefits,
	#signup {
		flex: 1;
	}
}
